.genres-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 20px; /* Space between items */
    padding: 20px;
    justify-content: center;
  }
  
  .genre-link {
    text-decoration: none;
  }
  
  .genre-card {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .genre-card:hover {
    transform: scale(1.1);
  }